In [1]:
import pandas as pd

In [1]:

boje = ['crvena', 'plava']
boje_dict = {'a': 'zelena', 'b': 'žuta'}

# series = pd.Series(boje_dict)
# series = pd.Series(boje)
# print(series)


data = [
    ['tomislav', 'nazifović'],
    ['pero', 'perić'],
    ['ana', 'anić'],
]

df = pd.DataFrame(data, columns=['ime', 'prezime'])


data = [
    {'ime': 'tomislav', 'prezime': 'nazifović', 'plaća': 5000},
    {'ime': 'pero', 'prezime2': 'perić', 'plaća': 8000},
    {'ime': 'ana', 'prezime': 'anić'},
]

df = pd.DataFrame(data)


data = {
    'ime': ['tomislav', 'pero', 'ana'],
    'prezime': ['nazifović', 'perić', 'anić'],
    'plaća': 8000
}

df = pd.DataFrame(data)

data = {
    'prvi': {'ime': 'tomislav', 'prezime': 'nazifović', 'plaća': 5000},
    'drugi': {'ime': 'pero', 'prezime2': 'perić', 'plaća': 8000},
    'treći': {'ime': 'ana', 'prezime': 'anić'},
}

df = pd.DataFrame(data).T

print(df)

            ime    prezime plaća prezime2
prvi   tomislav  nazifović  5000      NaN
drugi      pero        NaN  8000    perić
treći       ana       anić   NaN      NaN

In [2]:
ljudi_df = pd.read_csv('../data/podaci_o_ljudima.csv', sep=';', index_col=0)
države_df = pd.read_csv('../data/countries.csv')

In [15]:
države_df.to_pickle('countries.pkl')

In [14]:
survey = pd.read_csv('../data/survey_results_public.csv')
# survey.to_pickle('../data/survey.pkl')
# survey.to_excel('../data/survey.xlsx')

In [7]:
survey.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [17]:
# cols = list(survey.columns)
# cols[1] = 'employment'
# survey.columns = cols

survey = survey.rename(columns={'MainBranch': 'work'})

survey.head()

,ResponseId,work,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [30]:
survey.loc[2, 'EdLevel']

'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'

In [13]:
filter = države_df['Continent_Code'] == 'EU'

europe_df = države_df.loc[filter].reset_index(drop=True)

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Europe,EU,"Albania, Republic of",AL,ALB,8.0
1,Europe,EU,"Andorra, Principality of",AD,AND,20.0
2,Europe,EU,"Azerbaijan, Republic of",AZ,AZE,31.0
3,Europe,EU,"Austria, Republic of",AT,AUT,40.0
4,Europe,EU,"Armenia, Republic of",AM,ARM,51.0
5,Europe,EU,"Belgium, Kingdom of",BE,BEL,56.0
6,Europe,EU,Bosnia and Herzegovina,BA,BIH,70.0
7,Europe,EU,"Bulgaria, Republic of",BG,BGR,100.0
8,Europe,EU,"Belarus, Republic of",BY,BLR,112.0
9,Europe,EU,"Croatia, Republic of",HR,HRV,191.0
10,Europe,EU,"Cyprus, Republic of",CY,CYP,196.0
11,Europe,EU,Czech Republic,CZ,CZE,203.0
12,Europe,EU,"Denmark, Kingdom of",DK,DNK,208.0
13,Europe,EU,"Estonia, Republic of",EE,EST,233.0
14,Europe,EU,Faroe Islands,FO,FRO,234.0
15,Europe,EU,"Finland, Republic of",FI,FIN,246.0
16,Europe,EU,Åland Islands,AX,ALA,248.0
17,Europe,EU,"France, French Republic",FR,FRA,250.0
18,Europe,EU,Georgia,GE,GEO,268.0
19,Europe,EU,"Germany, Federal Republic of",DE,DEU,276.0
20,Europe,EU,Gibraltar,GI,GIB,292.0
21,Europe,EU,"Greece, Hellenic Republic",GR,GRC,300.0
22,Europe,EU,Holy See (Vatican City State),VA,VAT,336.0
23,Europe,EU,"Hungary, Republic of",HU,HUN,348.0
24,Europe,EU,"Iceland, Republic of",IS,ISL,352.0
25,Europe,EU,Ireland,IE,IRL,372.0
26,Europe,EU,"Italy, Italian Republic",IT,ITA,380.0
27,Europe,EU,"Kazakhstan, Republic of",KZ,KAZ,398.0
28,Europe,EU,"Latvia, Republic of",LV,LVA,428.0
29,Europe,EU,"Liechtenstein, Principality of",LI,LIE,438.0
30,Europe,EU,"Lithuania, Republic of",LT,LTU,440.0
31,Europe,EU,"Luxembourg, Grand Duchy of",LU,LUX,442.0
32,Europe,EU,"Malta, Republic of",MT,MLT,470.0
33,Europe,EU,"Monaco, Principality of",MC,MCO,492.0
34,Europe,EU,"Moldova, Republic of",MD,MDA,498.0
35,Europe,EU,"Montenegro, Republic of",ME,MNE,499.0
36,Europe,EU,"Netherlands, Kingdom of the",NL,NLD,528.0
37,Europe,EU,"Norway, Kingdom of",NO,NOR,578.0
38,Europe,EU,"Poland, Republic of",PL,POL,616.0
39,Europe,EU,"Portugal, Portuguese Republic",PT,PRT,620.0
40,Europe,EU,Romania,RO,ROU,642.0
41,Europe,EU,Russian Federation,RU,RUS,643.0
42,Europe,EU,"San Marino, Republic of",SM,SMR,674.0
43,Europe,EU,"Serbia, Republic of",RS,SRB,688.0
44,Europe,EU,Slovakia (Slovak Republic),SK,SVK,703.0
45,Europe,EU,"Slovenia, Republic of",SI,SVN,705.0
46,Europe,EU,"Spain, Kingdom of",ES,ESP,724.0
47,Europe,EU,Svalbard & Jan Mayen Islands,SJ,SJM,744.0
48,Europe,EU,"Sweden, Kingdom of",SE,SWE,752.0
49,Europe,EU,"Switzerland, Swiss Confederation",CH,CHE,756.0
50,Europe,EU,"Turkey, Republic of",TR,TUR,792.0
51,Europe,EU,Ukraine,UA,UKR,804.0
52,Europe,EU,"Macedonia, The Former Yugoslav Republic of",MK,MKD,807.0
53,Europe,EU,United Kingdom of Great Britain & Northern Ire...,GB,GBR,826.0
54,Europe,EU,"Guernsey, Bailiwick of",GG,GGY,831.0
55,Europe,EU,"Jersey, Bailiwick of",JE,JEY,832.0
56,Europe,EU,Isle of Man,IM,IMN,833.0